CONFIG proxy.config.http.server_ports STRING 8889
CONFIG proxy.config.http.insert_request_via_str INT 0
CONFIG proxy.config.http.insert_response_via_str INT 0
CONFIG proxy.config.http.normalize_ae INT 0
CONFIG proxy.config.http.chunking_enabled INT 1
CONFIG proxy.config.proxy_name STRING localhost
CONFIG proxy.config.url_remap.remap_required INT 1
CONFIG proxy.config.admin.user_id STRING trafficserver
